sudo: required

services:
  - docker

before_install:
- docker build -t joramk/fc26-base:latest .
- docker run --name fc26_base -d joramk/fc26-base:latest

script:
- while sleep 5; do docker top fc26_base ; docker logs fc26_base ; docker ps -a | grep ago ; if [ `docker ps -a | grep '(unhealthy)' | wc -l` != "0" ]; then exit 1; fi ; if [ `docker ps -a | grep '(healthy)' | wc -l` != "0" ]; then exit 0; fi ; if [ `docker ps -a | grep 'starting)' | wc -l` == "0" ]; then exit 1; fi ; done
